body {
    background: url("images/color.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.heading {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: rgb(31, 32, 68);
    border-radius: 20px;
    border-width: 20px;
}


form {
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding-top: 50px;
}

form p {
    color: red;
    margin: 0px;
}

.task_input {
    width: 73%;
    height: 15px;
    padding: 10px;
}

.task_btn {
    height: 39px;
    background: #dc85bd;
    color: rgb(42, 41, 97);
    border: 2px solid #dc85bd;
    border-radius: 5px;
    padding: 5px 20px;

}

.form-inline {
    padding-right: 10px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #343a40;
}

th {
    font-size: 19px;
    color: #343a40;
}

th,
td {
    border: none;
    height: 30px;
    padding: 2px;
}


.task {
    text-align: center;
}

.delete {
    text-align: center;
}

.delete a {
    color: white;
    background: #dc85bd;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}